---
layout: markdown_page
title: "Frontend Create Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Mission

The Create team works on the frontend part of GitLab for the [Create stage].

For more details about the vision for this area of the product, see the [Create
stage] page.

[Create stage]: /direction/create/

### Team members

<%= direct_team(role_regexp: /[,&] Create/, manager_role: 'Interim Frontend Engineering Manager, Create & Plan') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Create/, direct_manager_role: 'Interim Frontend Engineering Manager, Create & Plan') %>

## Useful links

* [Create frontend board] - this shows work in the current release
* [#g_create] in Slack

[Create frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/686850

[#g_create]: https://gitlab.slack.com/archives/g_create
