## Other Interesting Items

There are a number of other issues that we've identified as being interesting
that we are potentially thinking about, but do not currently have planned by
setting a milestone for delivery. Some are good ideas we want to do, but don't
yet know when; some we may never get around to, some may be replaced by another
idea, and some are just waiting for that right spark of inspiration to turn
them into something special.

Remember that at GitLab, everyone can contribute! This is one of our
fundamental values and something we truly believe in, so if you have
feedback on any of these items you're more than welcome to jump into
the discussion. Our vision and product are truly something we build
together!

<%= wishlist["devops:#{stage}"] %>
